$transitionDuration: .2s;

$color1: #2a2d32;
$color2: #fff;
$color3: #248cec;
$color4: #181a1d;
$color5: #f4b60d;
$color6: #35383c;
$color7: #a5a5a5;
$color8: #2a2b2e;
$color9: #8a8a8a;
$color10: #e9e9ea;
$color11: #9d9d9d;
$color12: #f7f7f7;
$color13: #e8e8e8;
$color14: #f6c53d;
$color15: #6f7073;
$color16: rgba(255, 255, 255, .3);
